
{% extends 'base.html.twig' %}

{% block title %}Ajouter Livre{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
<br>
 <button type="submit" class="btn btn-success">Créer</button>
{{ form_end(form) }}
{% endblock %}
